@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Ocorreu um erro.</h1>
<h2 class="text-danger">Erro desconhecido.</h2>

