@{ 
    ViewBag.Title = "Home";
 }

<div class="jumbotron col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <fieldset>
        <legend class="text-center">Triagem paciente</legend>

        <div class="panel panel-primary">
            <!--primeiro painel-->
            <div class="panel-heading">
                <label class="panel-title">Dados pessoais</label>
            </div>
            <div class="panel-body">
                <div class="form-group col-md-6 col-sm-6">
                    <label for="inputDefault" class="control-label">Nome:</label>
                    <input type="text" class="input-sm form-control" placeholder="Nome Completo" />
                </div>
                <div class="form-group col-md-6 col-sm-6">
                    <label for="inputDefault" class="control-label">CPF:</label>
                    <input type="text" maxlength="11" class="form-control input-sm" placeholder="12312312312" id="inputCPF" />
                </div>
            </div>
        </div><!--1º painel-->
        <div class="panel panel-primary">
            <!--segundo painel-->
            <div class="panel-heading ">
                <label class="panel-title">Saude:</label>
            </div>
            <div class="panel-body">
                <div class="form-group col-md-4 col-sm-6">
                    <label for="select" class="control-label">CID:</label>
                    <select class="form-control" id="IdCid">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="form-group col-md-4 col-sm-6">
                    <label for="select" class="control-label">Tratamentos Anteriores:</label>
                    <select class="form-control" id="Idtratamento">
                        <option>Sim</option>
                        <option>Nao</option>
                    </select>
                </div>
                <div class="form-group col-md-4 col-sm-6">
                    <label for="select" class="control-label">Alergias:</label>
                    <select class="form-control" id="Idalergia">
                        <option>Sim</option>
                        <option>Nao</option>
                    </select>
                </div>
                <div class="form-group col-md-4 col-sm-6">
                    <label for="Select" class="control-label">Uso de Drogas:</label>
                    <select class="form-control" id="IdDrogas">
                        <option>Sim</option>
                        <option>Nao</option>
                    </select>
                </div>
                <div class="form-group col-md-4 col-sm-6">
                    <label for="Select" class="control-label">Medicação continua:</label>
                    <select class="form-control" id="IdMed">
                        <option>Sim</option>
                        <option>Nao</option>
                    </select>
                </div>
                <div class="form-group col-md-4 col-sm-6">
                    <label class="control-label">Habitos higienicos:</label>
                    <div class="radio">
                        <label>
                            <input type="radio" name="radioHigienicos" id="RdSim" value="option1" checked="">
                            Sim
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="radioHigienicos" id="RdNao" value="option2">
                            Nao
                        </label>
                    </div>
                </div>
                <div class="form-group col-md-4 col-sm-6">
                    <label for="inputDefault" class="control-label">Antecedentes Familiares:</label>
                    <input type="text" class="form-control input-sm" placeholder="" id="inputAntFam" />
                </div>
                <div class="form-group col-md-4 col-sm-6">
                    <label for="inputDefault" class="control-label">Alimentação:</label>
                    <input type="text" class="form-control input-sm" placeholder="" id="inputAlim" />
                </div>
                <div class="form-group col-md-4 col-sm-6">
                    <label for="inputDefault" class="control-label">Ingestão hidricao:</label>
                    <input type="text" class="form-control input-sm" placeholder="" id="inputhid" />
                </div>
                <div class="form-group col-md-4 col-sm-6">
                    <label for="inputDefault" class="control-label">Sono e repouso:</label>
                    <input type="text" class="form-control input-sm" placeholder="" id="inputsono" />
                </div>
                <div class="form-group col-md-4 col-sm-6">
                    <label class="control-label">Pratica lazer/recriação:</label>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="RdlazerSim" value="option1" checked="">
                            Sim
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="RdlazerNao" value="option2">
                            Nao
                        </label>
                    </div>
                </div>
                <div class="form-group col-md-4 col-sm-6">
                    <label for="inputDefault" class="control-label">Frequencia urinaria:</label>
                    <input type="text" class="form-control input-sm" placeholder="" id="inputurinaria" />
                </div>
                <div class="form-group col-md-12 col-xs-12">
                    <label for="inputDefault" class="control-label">Frequencia intestinal:</label>
                    <input type="text" class="form-control input-sm" placeholder="" id="inputintestinal" />
                </div>
                <div class="page-header col-xs-12">Sinais vitais:</div>

                <div class="form-group col-sm-2 col-sm-offset-1">
                    <label for="inputDefault" class="control-label">PA:</label>
                    <input type="text" class="form-control input-sm" placeholder="" id="inputPA" />
                </div>
                <div class="form-group col-sm-2">
                    <label for="inputDefault" class="control-label">P:</label>
                    <input type="text" class="form-control input-sm" placeholder="" id="inputP" />
                </div>
                <div class="form-group col-sm-2">
                    <label for="inputDefault" class="control-label">Temp:</label>
                    <input type="text" class="form-control input-sm" placeholder="" id="inputtemp" />
                </div>
                <div class="form-group col-sm-2">
                    <label for="inputDefault" class="control-label">Resp:</label>
                    <input type="text" class="form-control input-sm" placeholder="" id="inputResp" />
                </div>
                <div class="form-group col-sm-2">
                    <label for="inputDefault" class="control-label">Dor:</label>
                    <input type="text" class="form-control input-sm" placeholder="" id="inputDor" />
                </div>
            </div>
        </div><!--2º painel-->
        <div class="panel panel-primary">
            <!--terceiro painel-->
            <div class="panel-heading ">
                <label class="panel-title">Historico Ginecologico e obstetrico:</label>
            </div>
            <div class="panel-body">
                <div class="form-group col-md-3 col-sm-6">
                    <label for="inputDefault" class="control-label">Menarca:</label>
                    <input type="text" class="form-control input-sm" placeholder="" id="inputMenarca" />
                </div>
                <div class="form-group col-md-3 col-sm-6">
                    <label for="inputDefault" class="control-label">Dum:</label>
                    <input type="text" class="form-control input-sm" placeholder="" id="inputDum" />
                </div>
                <div class="form-group col-md-3 col-sm-6">
                    <label for="inputDefault" class="control-label">nº parceiros:</label>
                    <input type="number" class="form-control input-sm" min="0" placeholder="0" max="20" id="inputparceiro" />
                </div>
                <div class="form-group col-md-3 col-sm-6">
                    <label for="inputDefault" class="control-label">Telarca:</label>
                    <input type="text" class="form-control input-sm" placeholder="" id="inputTelarca" />
                </div>
                <div class="page-header col-xs-12">Gestações</div>
                <div class="form-group col-sm-4">
                    <label for="inputDefault" class="control-label">G:</label>
                    <input type="text" class="form-control input-sm" placeholder="" id="inputG" />
                </div>
                <div class="form-group col-sm-4">
                    <label for="inputDefault" class="control-label">P:</label>
                    <input type="text" class="form-control input-sm" placeholder="" id="inputP" />
                </div>
                <div class="form-group col-sm-4">
                    <label for="inputDefault" class="control-label">A:</label>
                    <input type="text" class="form-control input-sm" placeholder="" id="inputA" />
                </div>
                <div class="form-group col-sm-12">
                    <label for="inputDefault" class="control-label">Resultado Ultimo Papa Nicolau:</label>
                    <input type="text" class="form-control input-sm" id="inputPapa" />
                </div>
                <div class="form-group col-sm-6">
                    <label for="inputDefault" class="control-label">Exame de mama:</label>
                    <input type="text" class="form-control input-sm" id="inputMama" />
                </div>
                <div class="form-group col-sm-6">
                    <label for="inputDefault" class="control-label">Outros:</label>
                    <input type="text" class="form-control input-sm" id="inputOutros" />
                </div>
            </div>
        </div><!--3ºpainel-->
        <div class="panel panel-primary">
            <!--quarto painel-->
            <div class="panel-heading ">
                <label class="panel-title">Relatorio enfermagem:</label>
            </div>
            <div class="panel-body">
                <div class="form-group col-sm-6">
                    <label for="inputDefault" class="control-label">Problemas encontrados:</label>
                    <input type="text" class="form-control input-sm" id="inputProb" />
                </div>
                <div class="form-group col-sm-6">
                    <label for="inputDefault" class="control-label">Exame fisico:</label>
                    <input type="text" class="form-control input-sm" id="inputFisico" />
                </div>
                <div class="form-group col-sm-6">
                    <label for="inputDefault" class="control-label">Diagnostico:</label>
                    <input type="text" class="form-control input-sm" id="inputDiagnostico" />
                </div>
                <div class="form-group col-sm-6">
                    <label for="inputDefault" class="control-label">Prescrições:</label>
                    <input type="text" class="form-control input-sm" id="inputpresc" />
                </div>
                <div class="form-group col-sm-6">
                    <label for="textArea" class="control-label">Resultados Esperados:</label>
                    <textarea class="form-control" rows="3" id="txtResul"></textarea>
                    <span class="help-block">Resultados esperados do paciente em questão.</span>
                </div>
                <div class="form-group col-sm-6">
                    <label for="textArea" class="control-label">Observações Adicionais:</label>
                    <textarea class="form-control" rows="3" id="txtObs"></textarea>
                    <span class="help-block">Observações adicionais do paciente.</span>
                </div>
            </div>
        </div><!--4º painel-->

        <a class="btn btn-primary btn-block">Concluir</a>
        <hr />
        <footer>
            <label for="labelDefault" class="control-label">Data do cadastro: @DateTime.Now.Day/@DateTime.Now.Month/@DateTime.Now.Year</label>
        </footer>
    </fieldset>
</div>
<div class="row"></div>
