
@{
    ViewBag.Title = "Administração";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<div class="dl-horizontal">
    <a href="~/Refugiado/Index" class="btn btn-white btn-info btn-bold">
        <i class="ace-icon fa fa-unlock"></i>Redefinir senha
    </a>
     |
    <a href="~/Refugiado/Index" class="btn btn-white btn-info btn-bold">
        <i class="ace-icon fa fa-plus"></i>Criar novo usuario
    </a>
     |
    <a href="~/Refugiado/Index" class="btn btn-white btn-info btn-bold">
        <i class="ace-icon fa fa-trash"></i>deletar usuario
    </a>
</div>
